.about-content {
    position: relative;
    top: 400px;
    left: 0;
    @include flex-column;
    gap: 2rem;
    font-family: $google;
    font-size: 1.5rem;
    color: $dark;
    padding: 2rem 5rem;
    margin: 0 auto;
    h3 {
        width: 1000px;
        color: $light;
        font-size: 2.5rem;
    }
    p {
        position: relative;
        left: 0;
        color: $light;
        font-family: $playfair;
        width: 1000px;
        text-align: justify;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        padding: 2rem;
    }
}