.header-nav {
    @include flex-center;
    margin-left: 3rem;
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        li {
            margin-left: 1rem;
        }
        a {
            text-decoration: none;
            color: $dark;
            border-radius: 30px;
            padding: 0.8rem 0.8rem;
            font-family: $stack;
            font-size: 1.2rem;
            font-weight: 400;
            transition: $eio;
            &:hover {
                padding: 0.8rem 1.8rem;
                backdrop-filter: blur(0px);
                -webkit-backdrop-filter: blur(0px);
                filter: url(#glass-distortion);
                -webkit-filter: url(#glass-distortion);
                background-color: $light;
                transition: $eio;
            }
        }
    }
}

// Hamburger menu button
.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 100;
    position: relative;
    
    span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: $dark;
        border-radius: 3px;
        transition: $eioslow;
        transform-origin: center;
    }
}

// Mobile navigation overlay
.mobile-nav-overlay {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: $light-active;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: opacity $eioslow, visibility $eioslow;
    
    &.open {
        opacity: 1;
        visibility: visible;
    }
}

.mobile-nav {
    width: 100%;
    height: 100%;
    padding: 2rem;
    
    ul {
        @include flex-column;
        list-style: none;
        gap: 2rem;
        align-items: flex-start;
        
        li {
            width: 100%;
        }
        
        .mobile-nav-link {
            display: block;
            text-decoration: none;
            color: $dark;
            font-family: $stack;
            font-size: 1.5rem;
            font-weight: 400;
            padding: 1rem;
            border-radius: 30px;
            transition: $eio;
            width: 100%;
            
            &:hover {
                background-color: $light;
                padding: 1rem 2rem;
                transition: $eio;
            }
        }
    }
}

// Tablet and Mobile breakpoints
@media (max-width: $tablet) {
    .header-nav {
        display: none;
    }
    
    .hamburger-menu {
        display: flex;
        margin-right: 1rem;
        
        &.open {
            span {
                &:nth-child(1) {
                    transform: translateY(10.5px) rotate(45deg);
                }
                
                &:nth-child(2) {
                    opacity: 0;
                    display: none;
                }
                
                &:nth-child(3) {
                    transform: translateY(-10.5px) rotate(-45deg);
                }
            }
        }
    }
    
    .mobile-nav-overlay {
        display: block;
    }
}

// Mobile only adjustments
@media (max-width: $mobile) {
    .hamburger-menu {
        width: 26px;
        height: 20px;
        
        span {
            height: 2.5px;
        }
        
        &.open {
            span {
                &:nth-child(1) {
                    transform: translateY(8.75px) rotate(45deg);
                }
                
                &:nth-child(3) {
                    transform: translateY(-8.75px) rotate(-45deg);
                }
            }
        }
    }
}
