.header-nav {
    @include flex-center;
    margin-left: 3rem;
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        li {
            margin-left: 1rem;
        }
        a {
            text-decoration: none;
            color: $dark;
            border-radius: 30px;
            padding: 0.8rem 0.8rem;
            font-family: $stack;
            font-size: 1.2rem;
            font-weight: 400;
            transition: $eio;
            &:hover {
                padding: 0.8rem 1.8rem;
                backdrop-filter: blur(0px);
                -webkit-backdrop-filter: blur(0px);
                filter: url(#glass-distortion);
                -webkit-filter: url(#glass-distortion);
                background-color: $light;
                transition: $eio;
            }
        }
    }
}

