.page { 
    position: relative;
    top: 60px;
    min-height: 100vh; // use min-height instead of fixed height
  }

  .headline {
    @include flex-center;
    position: fixed;
    top: 60px;
    font-family: $playfair;
    font-size: 5rem;
    font-weight: 400;
    background: $light-active;
    margin-bottom: 2rem;
    z-index: 0;
  }
  .hero-video {
    @include flex-column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    video {
        @include wh100;
        object-fit: cover;
    }
  }
  .hero {
    @include wh100;
    @include grid1;
    margin-top: 10rem;
    z-index: 2;
  }
  .learn-more {
    position: absolute;
    top: 60px;
    left: 0;
    //@include flex-center;
    text-decoration: none;
    z-index: 2;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: $google;
    color: $dark;
    background: $light;
    border-radius: 30px;
    padding: 0.8rem 0.8rem;
    transition: $eio;
    margin-bottom: 2rem;
    &:hover {
      background: $light-active;
      padding: 0.8rem 1.8rem;
      transition: $eio;
    }
  }
  .hero-content {
    @include flex-column;
    position: relative;
    top: 60px;
    margin-top: 4rem;
    z-index: 2;
    h2 {
      @include flex-center;
      width: 800px;
      font-size: 6rem;
      font-weight: 700;
      color: $light;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
    }
  
    p {
      width: 800px;
      color: $light;
      display: flex;
      justify-content: center;
      text-align: justify;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 400;
      font-family: $playfair;
      margin-top: 2rem;
      padding: 2rem;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
    }
  }
  .hero-content-2 {
    position: relative;
    top: 500px;
    right: -800px;;
    h2 {
      @include flex-center;
      width: 800px;
      font-size: 6rem;
      font-weight: 700;
      font-family: $google;
      color: $light;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
    }
  
    p {
      width: 800px;
      display: flex;
      justify-content: center;
      text-align: justify;
      align-items: center;
      color: $light;
      font-size: 1.5rem;
      font-weight: 400;
      font-family: $playfair;
      margin-top: 2rem;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      padding: 2rem;
    }
  }

  @keyframes blink {
    0%, 50% {
      opacity: 1;
    }
    51%, 100% {
      opacity: 0;
    }
  }

  .new-research {
    @include flex-column;
    position: relative;
    top: 700px;
    z-index: 2;
    h2 {
      font-size: 8rem;
      font-weight: 700;
      color: $dark;
      background: $light;
    }
    p {
      width: 1300px;
      font-size: 1.5rem;
      font-weight: 400;
      font-family: $google;
      background: $light;
      color: $dark;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      padding: 2rem;
    }
    
  }

  .read-more {
    @include flex-center;
    margin: 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: $dark;
    font-family: $google;
    background: $light;
    border-radius: 30px;
    padding: 0.8rem 0.8rem;
    transition: $eio;
    &:hover {
      background: $light-active;
      padding: 0.8rem 1.8rem;
      transition: $eio;
    }
  }
  
  