@import 'utils';

.team-member {
    @include flex-column;
    position: relative;
    top: 200px;
    left: 0;
    z-index: 3;
    margin-top: 3rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 2rem;
h3 {
    color: $light;
    font-size: 2.5rem;
}
p {
    position: relative;
    left: 0;
    color: $light;
    font-family: $playfair;
    text-align: justify;
    padding: 2rem;
}
img {
    max-width: 250px;
    max-height: auto;
  }
}

.member-bio {
    @include flex-row;
}

.member-metadata {
    @include flex-column;
}

.social-links {
    @include flex-row;
    margin: 2rem 0;
    gap: 5rem;
    a {
        text-decoration: none;
        color: $light;
    }
}

.linkedin-icon {
    color: $light;
    font-size: 1.5rem;
    transition: $eio;
    font-size: 3rem;
    &:hover {
        transition: $eio;
        color: $linkedinBlue;
    }
}
.twitter-icon {
    color: $light;
    font-size: 1.5rem;
    transition: $eio;
    font-size: 3rem;
    &:hover {
        transition: $eio;
        color: $xBlack;
    }
}
.github-icon {
    color: $light;
    font-size: 1.5rem;
    transition: $eio;
    font-size: 3rem;
    &:hover {
        transition: $eio;
        color: $githubBlack;
    }
}

// Tablet breakpoint
@media (max-width: $tablet) {
    .team-member {
        top: 150px;
        margin-top: 2rem;
        padding: 1.5rem;
        
        h3 {
            font-size: 2rem;
        }
        
        p {
            font-size: 1.2rem;
            padding: 1.5rem;
        }
        
        img {
            max-width: 200px;
            max-height: auto;
        }
    }
    
    .member-bio {
        flex-direction: row;
        gap: 2rem;
    }
    
    .social-links {
        gap: 3rem;
        margin: 1.5rem 0;
        
        .linkedin-icon,
        .twitter-icon,
        .github-icon {
            font-size: 2.5rem;
        }
    }
}

// Mobile breakpoint
@media (max-width: $mobile) {
    .team-member {
        top: 100px;
        margin-top: 1.5rem;
        padding: 1rem;
        
        h3 {
            font-size: 1.5rem;
        }
        
        p {
            font-size: 1rem;
            padding: 1rem;
            text-align: center;
        }
        
        img {
            max-width: 150px;
            max-height: auto;
        }
    }
    
    .member-bio {
        flex-direction: column;
        gap: 1.5rem;
    }
    
    .member-metadata {
        width: 100%;
        
        h3 {
            margin-bottom: 0.5rem;
        }
        
        p {
            padding: 0.5rem;
        }
    }
    
    .team-member-image {
        width: 100%;
        @include flex-center;
        
        img {
            width: 100%;
            max-width: 180px;
            height: auto;
        }
    }
    
    .social-links {
        gap: 2rem;
        margin: 1rem 0;
        flex-wrap: wrap;
        justify-content: center;
        
        .linkedin-icon,
        .twitter-icon,
        .github-icon {
            font-size: 2rem;
        }
    }
}

